.container {
  padding: 0 60px;
}
.titlename {
  margin: 30px 50px 10px 50px;
  color: #1890ff;
}
.content {
  width: 30%;
  min-width: 400px;
  margin: 50px auto;
  border: 1px solid #ccc;
  padding: 0 5%;
  box-shadow: 10px 10px 20px 10px rgba(151, 151, 148, 0.5),
    -10px 10px 10px 10px rgba(255, 255, 255, 0.5);
}
.login {
  color: #1890ff;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}

.bottom-message {
  color: #999;
  display: inline-block;
  margin-top: 20px;
}

.bottom-text {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 80px;
}
