.labelImage{
    height: 100%;
    width: 100%;
    .labelImageTitle{
        height:30px;
        padding: 10px 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
    .lableImageList{
        height: calc(100% - 90px);
        overflow-y: auto;
        padding: 10px 0 0;
        .lableImageLists{
            border: 1px solid #ccc;
            margin: 0 10px 10px;
            padding: 5px 5px 0;
            &>.ant-row{
                margin-bottom: 5px;
            }
            .ant-btn-link{
                padding: 0;
            }
            &.this{
                outline: 1px solid #50a5ff;
            }
        }
    }
    .labelImageBottom{
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}
.handlerScriptModal{
    .ant-modal-body{
        padding-top: 0;
        .ant-btn{
            float: right;
    padding-right: 0;
        }
    }
}
