.label-tool-operations {
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    margin-bottom: 16px;
    display: flex;
    .to-scene {
        margin-left: 6px;
        font-size: 12;
        display: inline-block;
        cursor: pointer;
    }
    .gotorecordsList{
        display: inline-block;
        cursor: pointer;
        margin-left: 50px;
        display: flex;
        .ant-btn{
            margin-left: 20px;}
    }
    .task-operation {
        display: inline-block;
        margin-left: auto;
        font-size: 14px;
        .task-operation-item {
            .ant-input {
                width: 64px;
                border-radius: 4px;
                margin: 0 4px;
                border: 1px solid #e1e3e6;
                background-color: #fff;
            }
        }
        .task-operation-item.disabled {
            .ant-input {
                border: solid 1px #b9c3da;
                background-color: #fff;
            }
        }
        .switch-task-span {
            width: 32px;
            height: 32px;
            display: inline-block;
            text-align: center;
            border-radius: 4px;
            background-color: #fff;
            border: 1px solid #b9c3da;
            color: #333;
            font-size: 12px;
            cursor: pointer;
            img {
                width: 7px;
                height: 12px;
                position: relative;
                top: -1px;
            }
        }
        .switch-task-span.disabled {
            cursor: default;
        }
        .current-task {
            margin: 0 8px;
            font-size: 14px;
            color: rgba(51, 51, 51, 0.6);
            .task-page {
                color: #333;
            }
        }
        .jump-task-span {
            margin-left: 16px;
        }
    }
}
