.ScenePageFileList{
    .to-scene {
        margin-left: 6px;
        font-size: 12;
        display: inline-block;
        cursor: pointer;
        margin-bottom: 20px;
    }
    .ant-table{
        .ant-btn{
            padding-left: 0;
        }
    }
}