.sceneList {
    width: calc(100% + 30px);
    height: calc(100% + 30px);
    margin: -15px;
    background: #f0f2f6;
    display: flex;
    flex-direction: column;

    .sceneSearch {
        display: flex;
        justify-content: flex-end;
        padding-bottom: 10px;

        .ant-select {
            .ant-select-selector {
                background: transparent;
            }
        }

        .ant-input-search {
            margin-left: 25px;
            margin-right: 25px;

            .ant-input,
            .ant-input-group-addon,
            .ant-input-search-button {
                background: transparent;
            }
        }
    }

    .sceneMain {
        height: calc(100% - 70px);
        padding-top: 5px;
        overflow-y: auto;

        .projectsList {
            display: grid;
            grid-template-columns: repeat(auto-fill, 350px);
            grid-gap: 24px 0;
            justify-content: space-around;
        }

        .projectWrapper {
            position: relative;

            .projectPaddingArea {
                position: absolute;
                top: 0;
                width: 24px;

                &.left {
                    left: -24px;
                }

                &.right {
                    right: 0px;
                }
            }

            .projectCardWrapper {
                margin-right: 24px;
                height: 215px;
                background: #fff;
                line-height: 0;
                cursor: pointer;
                position: relative;
                border-radius: 20px;

                &::before {
                    content: "";
                    display: none;
                    position: absolute;
                    top: -2px;
                    left: -2px;
                    width: calc(100% + 4px);
                    height: calc(100% + 4px);
                    border: 2px solid #419bf9;
                    /* border: 2px solid var(--cornflower-blue); */
                    border-radius: 20px;
                    background-color: rgba(65, 154, 249, 0.2);
                    /* background-color: var(--cornflower-blue-20pc); */
                    opacity: 0;
                    transition: opacity 0.28s cubic-bezier(0.4, 0, 0.2, 1);
                    pointer-events: none;
                    z-index: 5;
                }

                &:hover::before {
                    opacity: 1;
                }
            }

            .popoverContainer {
                height: 100%;

                .addDiv {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    height: 100%;

                    .anticon {
                        font-size: 48px;
                        color: #acb4bd;
                    }

                    p {
                        margin-top: 20px;
                        font-size: 20px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.2;
                        letter-spacing: normal;
                        color: #405060;
                    }
                }
                .fromDiv{
                    height: 100%;
                    padding: 30px 24px;
                    line-height: 1;
                    display: flex;
                    flex-direction: column;
                    .fromTop{
                        display: flex;
                        align-items: center;
                        .fromName{
                            color:#554d56;
                            flex: 1;    
                            line-height: 16px;
                        }
                        .fromState{
                            padding: 3px 8px;
                            
                        }
                    }
                    .fromCen{
                        flex: 1;
                        .fromCenNo{
                            font-size: 12px;
                            line-height: 1.5;
                            padding-top: 20px;
                        }
                        .fromUpload{
                            font-size: 12px;
                            line-height: 1.5;
                            padding-top: 20px;
                            .ant-btn-link{
                                padding: 0;
                            }
                        }
                        .fromUpload1{
                            p{
                                margin: 0;
                            }
                        }
                    }
                    .fromBottom{
                        display: flex;
                        justify-content: flex-end;
                        position: relative;
                        .ant-upload-list{
                            position: absolute;
                            left: 0;
                            top: -66px;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .ant-pagination {
        text-align: right;
    }
    .brand{
        color: #409EFF;
    }
    .warning{
        color: #E6A23C;
    }
    .success{
        color: #67C23A;
    }
    .danger{
        color: #F56C6C;
    }
    .info{
        color: #909399;
    }
    .purple{
        color: #7839E6;
    }
}
.scenedrawerDiv{
    .drawerBtn{
        padding-top:20px ;
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
}