.profile-page {
  .tree-title {
    display: flex;
    justify-content: space-between;
  }
  .ant-tree-node-content-wrapper {
    display: flex;
    .ant-tree-title {
      width: 100%;
    }
  }
  .tree-icons {
    color: gray;
    display: flex;
    align-items: center;
  }
  .ant-tree-treenode-selected {
    .tree-icons {
      color: white;
    }
  }
  .loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    background-color: rgba($color: #ffffff, $alpha: 0.4);
    font-size: 16px;
    .anticon {
      font-size: 40px;
      margin-bottom: 15px;
    }
  }
}

.ticket-detail {
  .ant-row {
    .table-cell {
      border-right: 1px solid lightgray;
      border-bottom: 1px solid lightgray;
      text-align: center;
      line-height: 35px;
      .ant-input-affix-wrapper {
        border: none;
        border-radius: 0;
      }
      .ant-select-selector {
        border: none;
      }
    }
  }
  .ant-list {
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    .ant-list-header {
      padding: 0;
      .table-cell {
        font-weight: 500;
      }
    }
  }
}

.camera-file {
  position: relative;
  display: inline-block;
  // background: #d0eeff;
  // border: 1px solid #99d3f5;
  // border-radius: 4px;
  padding: 4px 12px;
  overflow: hidden;
  color: #1e88c7;
  text-decoration: none;
  text-indent: 0;
  line-height: 20px;
}
.camera-file input {
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
}
.camera-file:hover {
  // background: #aadffd;
  // border-color: #78c3f3;
  // color: #004974;
  // text-decoration: none;
  // box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);
}
th.cloumns-money,td.cloumns-money{
    padding: 15px 10px !important;
}