

.control-bar {
    height: 60px;
    width: 100%;
    border: 1px solid rgba(34, 36, 38, 0.15);
    border-bottom: none;
    background-color: #fff;
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    .not-click {
        pointer-events: none;
    }
    .control-bar-title {
        font: 600;
    }
    .control-bar-toollist {
        width: 230px;
        padding: 0 10px;
        & > span {
            display: inline-block;
            padding: 5px 10px;
        }
        .tool {
            border:  1px solid rgba(34, 36, 38, 0.15);
            margin: 0 5px;
            .tool-icon {
                margin-right: 10px;
            }
        }
        .tool:hover,
        .tool:focus {
            border-color:#40a9ff;
    border-right-width: 1px !important;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
            cursor: pointer;
        }
        .tool.selected {
            border-color: #40a9ff;
    border-right-width: 1px !important;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
        }
    }
    .control-bar-page-btn {
        position: absolute;
        right: 15px;
        .page-btn {
            cursor: pointer;
            height: 30px;
            line-height: 18px;
            padding: 5px 8px;
            text-align: center;
            display: inline-block;
            border:  1px solid rgba(34, 36, 38, 0.15);
            .anticon {
                margin-top: 2px;
            }
        }
        .page-btn-disabled {
            cursor: auto;
            color: rgba(51, 51, 51, 0.6);
        }
    }
    .control-bar-zoom {
        width: 190px;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        .zoom-desp {
            margin-right: 10px;
        }
        .zoom {
            height: 34px;
        }
    }
    .control-bar-rotate-btn {
        width: 150px;
        height: 34px;
        display: flex;
        align-items: center;
        .rotate-btn {
            width: 40px;
            height: 100%;
            line-height: 100%;
            font-size: 20px;
            border:  1px solid rgba(34, 36, 38, 0.15);
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .rotate-btn-disabled {
            cursor: auto;
            color: rgba(51, 51, 51, 0.6);
        }
    }
    .how-label-btn {
        display: inline-block;
        margin-right: 15px;
        cursor: pointer;
        color: #3278ff;
    }
    &.not-select{
        -moz-user-select:none; /*火狐*/
        -webkit-user-select:none; /*webkit浏览器*/
        -ms-user-select:none; /*IE10*/
        -khtml-user-select:none; /*早期浏览器*/
        user-select:none;
    }
}
.complete-label-modal {
    .ant-modal-body {
        .ant-modal-confirm-btns {
            display: none;
        }
        .complete-label-modal-btns {
            margin-top: 30px;
            text-align: right;
        }
    }
}
