.site-layout-content {
  height: calc(100vh - 125px);
  padding: 24px;
  background: #fff;
  padding: 20px;
  margin-top: 85px;
}

.ant-layout-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 85px;
  width: 100%;
  .ant-menu-light {
    background-color: #001529;
    color: white;
    border-bottom: none;
    display: flex;
    justify-content: flex-end;
  }
}
.ant-layout-content {
  padding: 24px;
}

.ant-radio-group {
  .ant-radio-button-wrapper {
    margin: 0 15px;
    border: none;
    &:not(:first-child)::before {
      content: none;
    }

    &:first-child {
      border: none;
    }
  }
}
