.previews {
    display: flex;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    .previewsL {
        flex: 1;
        height: 300px;
        overflow: auto;
        &>canvas{
            display: none;
        }
        &>canvas:nth-last-child(1){
            display: block;
        }
    }

    .previewsR {
        flex: 0 0 200px;
        height: 300px;
        overflow-y: auto;
        &>p{
            text-align: center;
        }
        .previewsRs{
            padding: 10px;
            padding-left: 20px;
        }
    }
}
.Modalccc{
    .ant-upload.ant-upload-drag{
        height: 180px;
    }
    .ant-form-item-label > label::after{
        content: "";
    }
}