
.ScenePageOperation {
    height: 100%;
    .label-tool-header {
        height: 50px;
    }
    .label-tool-container {
        min-width: 320px;
        min-height: 500px;
        height: calc(100% - 50px);
        .label-tool {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            height: calc(100% - 60px);
            border: 1px solid rgba(34, 36, 38, 0.15);
            .label-tool-main,
            .label-tool-sidebar {
                height: 100%;
                background: #fff;
            }
            .label-tool-main {
                margin-bottom: 20px;
                .ant-spin-nested-loading {
                    height: 100%;
                }
                .image-view {
                    height: 100%;
                    .uploadBtn {
                        display: flex;
                        flex-direction: column;
                        margin: auto;
                        width: 300px;
                        & > span {
                            font-size: 30px;
                            font-weight: 300;
                            text-align: center;
                            margin-bottom: 15px;
                        }
                    }
                    .uploadBtn:hover {
                        cursor: pointer;
                        color: #1890ff;
                    }
                }
            }
            .label-tool-sidebar {
                display: flex;
                flex-flow: column;
                width: 415px;
                border-right: 1px solid rgba(34, 36, 38, 0.15);
            }
            .label-imgs{
                width: 180px;
                height: 100%;
                overflow-y: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 20px 0;
                .imgLists{
                    width: 150px;
                    height: 150px;
                    flex: 0 0 150px;
                    margin-bottom: 30px;
                    border: 1px solid #ccc;
                    display: flex;
                    align-content: center;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    cursor: pointer;
                    position: relative;
                    img{
                        max-width: 99%;
                        max-height: 99%;
                    }
                    p{
                        position: absolute;
                        position: absolute;
                        bottom: -20px;
                        left: 0;
                        width: 100%;
                        text-align: center;
                        line-height: 20px;
                        padding: 0;
                        margin: 0;
                        padding-top: 5px;
                        
                    }
                }
            }
            .label-item{
                width: 320px;
                height: 100%;
            }
        }
    }
}
