.label-skill-modal.ant-modal {
    height: 582px;
    border-radius: 16px;
    .ant-modal-content {
        padding: 40px;
        height: 100%;
        border-radius: 16px;
        .ant-modal-header {
            border: none;
            height: 56px;
            padding: 0 0 32px 0;
            .ant-modal-title {
                height: 24px;
                line-height: 24px;
                font-size: 24px;
                font-weight: 600;
                color: #405060;
            }
        }
        .ant-modal-close {
            width: 40px;
            height: 40px;
            margin-right: 40px;
            .ant-modal-close-x {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 32px;
                .ant-modal-close-icon {
                    width: 23px;
                    height: 23px;
                    font-size: 23px;
                }
            }
        }
        .ant-modal-body {
            padding: 0;
            height: calc(100% - 56px);
            .ant-carousel {
                height: calc(100% - 72px);
                .slick-slider {
                    height: 100%;
                    overflow: hidden;
                    .slick-list {
                        .slick-slide>div>div{
                            display: flex !important;  //to override inline-style
                        }
                        .example-item {
                            width: 340px;
                            display: inline-block;
                            .example-img {
                                height: 240px;
                                padding: 10px;
                                display: flex;
                                align-items: center;
                                img {
                                    width: 320px;
                                }
                            }
                            .example-text {
                                height: 66px;
                                margin-top: 24px;
                                text-align: center;
                                p {
                                    margin-bottom: 0;
                                }
                                p:first-child {
                                    font-weight: 600;
                                }
                            }
                        }
                        .incorrect-example {
                            margin-left: 40px;
                            .example-img {
                                border: 1px solid #28a080;
                                background-color: rgba(40, 160, 128, 0.2);
                            }
                        }
                        .error-example {
                            .example-img {
                                border: 1px solid #e85858;
                                background-color: rgba(232, 88, 88, 0.2);
                            }
                        }
                    }
                    .slick-dots {
                        position: absolute;
                        bottom: 0;
                        margin-bottom: 0;
                        li {
                            width: 8px;
                            height: 8px;
                            margin: 0 8px 0 0;
                            button {
                                width: 100%;
                                height: 100%;
                                border-radius: 8px;
                                opacity: 1;
                                background-color: #e1e3e6;
                            }
                        }
                        .slick-active {
                            width: 16px;
                            height: 8px;
                            button {
                                width: 100%;
                                height: 100%;
                                border-radius: 4px;
                                opacity: 1;
                                background-color: #a0a5af;
                            }
                        }
                        li:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
            .switch-btns {
                text-align: center;
                margin-top: 40px;
            }
        }
        .ant-modal-footer {
            display: none;
        }
    }
}
