.preview-image {
  position: relative;
  .photo {
    position: absolute;
    width: 100%;
    top: 50px;
    user-select: none;
    transition: 0.2s;
  }
  .tools {
    position: relative;
    background-color: white;
    padding: 0 10px;
    color: #1890ff;
    font-weight: bold;
    font-size: 16px;
    z-index: 10;
    user-select: none;
  }
}
