.zoom {
    border-radius: 4px;
    border: solid 1px #d5d9dd;
    background-color: #ffffff;
    width: 120px;
    display: flex;
    align-items: center;
    span {
        height: 100%;
        display: inline-block;
    }
    .op-icon {
        width: 30px;
        height: 100%;
        display: inline-block;
        cursor: pointer;
        // display: flex;
        // align-items: center;
        .anticon {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .zoom-value {
        width: calc(100% - 60px);
        .zoom-input {
            width: 100%;
            height: 100%;
            border: 0;
            padding: 4px 8px;
            border-left: 1px solid #d5d9dd;
            border-right: 1px solid #d5d9dd;
            border-radius: 0;
        }
    }

    .zoom-input:focus {
        border: none;
        border-left: 1px solid #d5d9dd;
        border-right: 1px solid #d5d9dd;
    }
}
