.manage-page {
  margin-left: 210px;
  .left-menu {
    position: absolute;
    left: 0;
    top: 60px;
    width: 220px;
    ul {
      height: calc(100vh - 86px);
    }
    .menu-list {
      background-color: #28303f;
    }
  }

  .tree-title {
    display: flex;
    justify-content: space-between;
  }
  .ant-tree-node-content-wrapper {
    display: flex;
    .ant-tree-title {
      width: 100%;
    }
  }
  .tree-icons {
    color: gray;
  }
  .ant-tree-treenode-selected {
    .tree-icons {
      color: white;
    }
  }
}
