@import '~antd/dist/antd.css';
body,
html {
  padding: 0;
  margin: 0;
}

@for $i from 1 through 10 {
  .mt-#{$i*5} {
    margin-top: 5px * $i;
  }
  .mb-#{$i*5} {
    margin-bottom: 5px * $i;
  }
  .ml-#{$i*5} {
    margin-left: 5px * $i;
  }
  .mr-#{$i*5} {
    margin-right: 5px * $i;
  }
  .font-#{10 + $i * 2} {
    font-size: 10px + $i * 2px;
  }
}

@for $i from 1 through 50 {
  .ft-#{10 + $i} {
    font-size: 10px + $i * 1px;
  }
}

.flex-hc {
  display: flex;
  align-items: center;
}

.flex-hcb {
  @extend .flex-hc;
  justify-content: space-between;
}

.flex-vc {
  @extend .flex-hc;
  flex-direction: column;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
