.site-layout-content {
  height: calc(100vh - 115px);
  padding: 24px;
  background: #fff;
  padding: 15px;
  margin-top: 60px;
  overflow-x: scroll;
}

.ant-layout-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  .ant-menu-light {
    height: 55px;
    background-color: #001529;
    color: white;
    border-bottom: none;
    display: flex;
    justify-content: flex-end;
  }
}
.ant-layout-content {
  padding: 15px;
}

.moreMenu {
  position: absolute;
  left: 220px;
  top: 14px;
}
